/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.container{
    margin: 0 1.25rem;
    padding: 3rem 0 1rem 0;
}
/* regole di debug */

.placeholder{
    width: 100%;
    height: calc( 100vw - 4rem );
}

header .placeholder{
    height: 50px;
    width: 100px;
    background-color: #b5ddff;
}

#demo .placeholder, #partners .placeholder{
    background-color: #b5ddff;
}

#planning .placeholder{
    background-color: white;
}

#partners .placeholder

/* regole header */

header{
    height: 75px;
    background-color: #0084fd;
}
.container-head{
    margin: 0 2rem;
}

header .container-head{
    align-items: center;
    height: 100%;
}

/* regole main */

main section:nth-child(2n){
    background-color:#9792e4;
}

/* regole sezione demo */

.card{
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 0.75rem;
}

/* regole sezione partners */


/* regole media queries */

@media screen and (min-width:481px){
/* regole sezione demo */
    #demo .card{
        width: calc(100% / 3);
        height: calc( 100vw - 4rem ); /* regola di debug*/ /*altezza successivamente in relazione a contenuti*/
    }

    #card-l .placeholder{
        height: 50%;
    }

    #demo #card-l{
        width: calc(100% / 3 * 2);
        height: calc( 100vw - 4rem ); /* regola di debug*/ /*altezza successivamente in relazione a contenuti*/
    }
}

@media screen and (min-width:1064px) {
    .container{
        max-width: 1000px;
        margin: auto;
    }
/* regole sezione demo */
    #demo .card, main .placeholder,  #demo #card-l{
        height: calc( 100vw / 3 - 4rem ); /* regola di debug*/ /*altezza successivamente in relazione a contenuti*/
    }

    #demo #card-l{
        display: flex;
        width: calc(100% / 3 * 2);
    }

    #card-l .placeholder{
       width: 50%;
       height: 100%;
    }
/* regole sezione planning */
    #planning .card{
        width: 50%;
    }
}

