/* variabili */
:root{
    --black: #515151;
    --white: #fff;
    --first: #0084fd;
    --second: #b5ddff;
    --third: #9792e4;
    --fourth: #cbc9f1;
    --bright: #fdc15f;
}   

/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.flex{
    display: flex;
    flex-wrap: wrap;
}


.container{
    margin: 0 1.25rem;
    padding: 3rem 0 1rem 0;
}

.btn{
    display: inline-block;
    border-radius: 1rem;
}

.radius-s{
    border-radius: 1rem;
}
/* regole di debug */

.placeholder{
    width: 100%;
    height: calc( 100vw - 4rem );
}

header .placeholder{
    height: 50px;
    width: 100px;
    background-color: var(--second);
}

#demo .placeholder, #partners .placeholder, #about-us .placeholder{
    background-color: var(--second);
}

#planning .placeholder, #benefits .placeholder, #started .placeholder, footer .placeholder{
    background-color: var(--white);
}

/* regole header */

header{
    height: 75px;
    background-color: var(--first);
}

.container-head{
    justify-content: space-between;
    margin: 0 1.25rem;
    padding: 0 0.5rem;
}

header .container-head{
    align-items: center;
    height: 100%;
}

.bars{
    display: block;
}

.list{
    display: none;
}

header .list ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header .list ul li{
    padding-left:3rem;
}

header .list ul .navig{
    color: var(--white);
    text-decoration: none;
}

header .list ul .btn-nav{
    text-decoration: none;
    background-color: var(--white);
    padding: 0.5rem 1rem;
}
/* regole main */

main section:nth-child(2n){
    background-color: var(--third);
}

/* regole sezione demo */
#demo .container{
    justify-content: space-around;
}

.card{
    width: 100%;
    margin-bottom: 2rem;
    margin: 0 0 1rem 0;
    padding: 0 0.75rem;
    background-color: var(--second);
}

#card-l img{
    width: 250px;
    display: block;
}

.phone{
    display: flex;
    align-items: flex-end;
}
/* regole sezione benefits */

#benefits .feature{
    max-width: 375px;
    margin: 1rem auto;
}

/* regole footer */

footer{
    background-color: var(--black);
}


/* regole media queries */

@media screen and (min-width:481px){
    /* regole di debug */
    .placeholder{
        height: calc( 100vw / 2 - 4rem );
    }

    #card-l .placeholder{
        height: 50%;
    }

    /* regole sezione demo */

    #demo .card{
        width: calc(100% / 3 - 1rem);
    }

    #demo #card-l{
        width: calc(100% / 3 * 2 - 1rem);
    }

    /* regole sezione partners */

    #partners .card{
        display: flex;
    }

    /* regole sezione benefits */

    #benefits .feature{
        width: 50%;
    }

    /* regole sezione about-us */

    #about-us .about-text{
        width: 60%;
    }
    
    
    #about-us .about-photo{
        width: 40%;
    }
}

@media screen and (min-width:1064px){
    /* regole di debug */

    .placeholder{
        height: calc( 100vw / 3 - 4rem );
    }

    #card-l .placeholder{
        width: 50%;
        height: 100%;
     }
 
    /* regole generali */

    .container, .container-head{
        max-width: 1000px;
        margin: auto;
    }
    /* regole header */

    .bars{
        display: none;
    }
    
    .list{
        display: block;
    }
    /* regole sezione demo */

    #demo #card-l{
        display: flex;
        width: calc(100% / 3 * 2 - 1rem);
    }  
    
    #card-l img{
        width: 100%;
    }

    /* regole sezione planning */

    #planning .card{
        width: 50%;
    }

    /* regole sezione benefits */

    #benefits .feature{
        width: calc(100% / 3)
    }

    /* regole sezione about-us */

    #about-us .about-text{
        width: 80%;
    }
    
    
    #about-us .about-photo{
        width: 20%;
    }
}

