/* variabili */
:root{
    --black: #515151;
    --white: #fff;
    --first: #0084fd;
    --second: #b5ddff;
    --third: #9792e4;
    --fourth: #cbc9f1;
    --bright: #fdc15f;
}   

/**************************************************** regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    font-family: sans-serif;
    line-height: 2rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}


.container{
    margin: 0 1.25rem;
    padding: 3rem 0 1rem 0;
}

.card{
    width: 100%;
    margin-bottom: 2rem;
    margin: 0 0 1rem 0;
    padding: 2rem 2rem 0 2rem;
}

.btn{
    display: inline-block;
    border-radius: 1rem;
}

.abbello{
    text-decoration: none;
}

.radius-s{
    border-radius: 1rem;
}

.radius-l{
    border-radius: 2rem;
}

.text-center{
    text-align: center;
}

#demo .card .text>*, #planning .card *:not(:last-child){
    margin-bottom: 3rem;
}
/*********************************************************** regole di debug */

.placeholder{
    width: 100%;
    height: calc( 100vw - 4rem );
}

header .placeholder{
    height: 50px;
    width: 100px;
    background-color: var(--second);
}

#demo .placeholder, #partners .placeholder, #about-us .placeholder{
    background-color: var(--second);
}

#planning .placeholder, #benefits .placeholder, #started .placeholder, footer .placeholder{
    background-color: var(--white);
}

/**************************************************************** regole header */

header{
    height: 75px;
    background-color: var(--first);
}

.container-head{
    justify-content: space-between;
    margin: 0 1.25rem;
    padding: 0 0.5rem;
}

header .container-head{
    align-items: center;
    height: 100%;
}

.bars{
    display: block;
}

.bars button{
    background-color: var(--first);
    border: none;
    color: var(--white);
    font-size: 2rem;
}

.list{
    display: none;
}

header .list ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header .list ul li{
    padding-left:3rem;
}

header .list ul .navig{
    color: var(--white);
    text-decoration: none;
}

header .list ul .btn-nav{
    background-color: var(--white);
    padding: 0.5rem 1rem;
}
/***************************************************** regole main */

main section:nth-child(2n){
    background-color: var(--third);
}

/*************************************************** regole sezione demo */
#demo .container{
    justify-content: space-around;
}

#demo .card{
    background-color: var(--second);
}

#card-l img{
    width: 250px;
    display: block;
}

.phone{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2rem;
}

#demo h2, #demo .fas{
    color: var(--first);
}

#demo .fas{
    font-size: 5rem;
}

#demo p{
    color: var(--black);
    font-weight: bold;
}

#demo .btn-demo{
    color: var(--white);
    background-color: var(--first);
    padding: 0.5rem 3rem;
}

/*********************************************************regole sezione planning */

#planning img{
    width: 100%;
}

#planning .planning1{
    color: var(--white);
}

#planning .planning2{
    background-color: var(--white);
    padding: 2rem;
}

#planning .planning2 p{
    font-style: italic;
}

#planning button{
    background-color: var(--third);
    border-radius: 50%;
    padding: 1rem 1.2rem;
    border: none;
    margin: 2rem 2rem 0 2rem;
}

/********************************************************* regole sezione benefits */

#benefits .feature{
    max-width: 375px;
    margin: 1rem auto;
}

/********************************************************* regole footer */

footer{
    background-color: var(--black);
}


/****************************************************** regole media queries */

@media screen and (min-width:481px){
    /* regole di debug */
    .placeholder{
        height: calc( 100vw / 2 - 4rem );
    }

    #card-l .placeholder{
        height: 50%;
    }

    /* regole sezione demo */

    #demo .card{
        width: calc(100% / 3 - 1rem);
    }

    #demo #card-l{
        width: calc(100% / 3 * 2 - 1rem);
    }

    .phone{
        justify-content: flex-start;
    }

    /* regole sezione planning */

    #planning .planning1 h2{
        font-size: 4rem;
    }

    #planning .radius-l{
        border-radius: 3rem;
    }
    /* regole sezione partners */

    #partners .card{
        display: flex;
    }

    /* regole sezione benefits */

    #benefits .feature{
        width: 50%;
    }

    /* regole sezione about-us */

    #about-us .about-text{
        width: 60%;
    }
    
    
    #about-us .about-photo{
        width: 40%;
    }
}

@media screen and (min-width:1064px){
    /************************************************************** regole di debug */

    .placeholder{
        height: calc( 100vw / 3 - 4rem );
    }

    #card-l .placeholder{
        width: 50%;
        height: 100%;
     }
 
    /* regole generali */

    .container, .container-head{
        max-width: 1000px;
        margin: auto;
    }
    /* regole header */

    .bars{
        display: none;
    }
    
    .list{
        display: block;
    }
    /* regole sezione demo */

    #demo #card-l{
        display: flex;
        width: calc(100% / 3 * 2 - 1rem);
    }  
    
    #card-l img{
        width: 100%;
    }

    /* regole sezione planning */

    #planning .planning1 h2{
        font-size:x-large;
    }

    #planning .planning2{
    }
    /* regole sezione planning */

    #planning .card{
        width: 50%;
    }

    /* regole sezione benefits */

    #benefits .feature{
        width: calc(100% / 3)
    }

    /* regole sezione about-us */

    #about-us .about-text{
        width: 80%;
    }
    
    
    #about-us .about-photo{
        width: 20%;
    }
}

